* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: consolas;
}

.btn {
    background: none;
    color: black;
    padding: 15px 60px;
    font-size: 1em;
    margin: 20px auto;
    max-width: 200px;
    outline: none;
    display: block;
    border: 2px solid black;
    cursor: pointer;
}

.container {
    display: flex;
    flex-wrap: wrap;
}

.box {
    width: 20%;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #fff;
    border: 2px solid #fff;
    color: #fff;
    font-size: 1.5em;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
}
